@import "../card/card.scss";
@import "../search/search.scss";

.shop {
    background-image: url(../../../images/bg/parchment-2123469_640.webp);
    background-size: 20%;
    background-repeat: repeat;
    padding: 50px 8px 0px;
    min-height: 100vh;
    &__search {
        border-radius: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 15px;
        margin-bottom: 40px;
    }

    &__content {
        display: flex;
    }

    &__column {
        &_left {
            flex: 0 0 24%;
        }

        &_right {
            flex: 1 1 100%;
        }
    }

    &__category {
        border-radius: 10px;
        padding: 20px 14px;
        font-size: 20px;
        position: sticky;
        top: 5%;
        margin-bottom: 20px;
    }

    &__cardbox {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__card {
        flex: 0 0 320px;
        margin-bottom: 20px;
        border-radius: 15px;
    }
}

.category {
    &__title {
        display: block;
        color: black;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    &__list {
    }

    &__item {
        display: flex;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 0 0 7px #000;
        border-radius: 15px;
        padding: 8px 14px;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: #dddddd;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &.active {
            background: #fdb750;
        }
    }

    &__svg {
    }
}
