@import "./rating.scss";

.preview {
    &__body {
        padding: 20px 5px;
    }
    &__imagebox {
    }
    &__mainimg {
    }
    &__infobox {
        background: rgba(255, 255, 255, 0.6);
        font-size: 22px;
        padding: 20px;
    }
    &__row {
        &:first-child {
            margin-bottom: 40px;
        }
        &:last-child {
            display: flex;
            justify-content: space-between;
            @media (max-width: 768px) {
                flex-wrap: wrap;
            }
        }
    }
    &__name {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
    }
    &__text {
        text-align: center;
    }
    &__buttons {
        display: flex;
        flex: 1 1 100%;
        justify-content: space-between;
        align-items: center;
    }
    &__button {
        display: flex;
        flex: 0 1 200px;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        border-radius: 10px;
        padding: 8px 5px;
        color: #000;
        &:first-child {
            margin-right: 10px;
        }
    }
}

.imagebox {
    display: flex;
    &__column {
        &:first-child {
            @include adaptiv-flex-width(0, 0, 170, 70);
            background: #000;
        }
        &:nth-child(2) {
            border-left: 2px solid #000;
            @include adaptiv-flex-width(0, 0, 500, 200);
            position: relative;
        }
        &:last-child {
            flex: 1 1 100%;
            position: relative;
            background: rgba(255, 255, 255, 0.6);
        }
    }
    &__mainimg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &__row {
        position: relative;
        @include adaptiv-padding-bottom(150, 70);
        &:not(:last-child) {
            border-bottom: 2px solid #000;
        }
    }
    &__mini-img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.6);
        &.active {
            background: transparent;
        }
    }

    &__rating {
        @include adaptiv-font(30, 20);
        font-weight: 700;
        padding: 0 10px;
        margin: 20px 0 40px 0;
    }

    &__reviews {
    }
}

.reviews {
    padding: 0 5px 20px 5px;
    &__label {
        font-weight: 700;
        @include adaptiv-font(30, 20);
        margin-bottom: 20px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        border-radius: 20px;
        padding: 5px 8px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__name {
        @include adaptiv-font(30, 20);
        font-weight: 700;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
    &__post {
        @include adaptiv-font(26, 18);
    }
    &__nothing {
        @include adaptiv-font(30, 20);
    }
}

.preview-info {
    font-size: 20px;
    padding: 0 10px;
    &__row {
        margin-bottom: 40px;
    }

    &__column {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__price {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        @media (max-width: 768px) {
            flex: 0 0 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    &__size {
    }
    &__size-count {
    }
    &__material {
    }
    &__material-value {
    }
}
