@import "libs/mixins/mixins.scss";

@import "fonts/fonts.scss";
@import "libs/nullstyle/nullstyle.scss";
@import "libs/links-effect/link.scss";
@import "libs/buttons-effect/button.scss";
@import "libs/animation/animation.scss";
@import "libs/variables/variables.scss";
@import "libs/shadow/box-shadow.scss";

@import "components/header/header.scss";
@import "components/shop/shop.scss";
@import "components/footer/footer.scss";
@import "components/cart/cart.scss";

body {
    font-family: Roboto;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}
