@import "./cartItem.scss";
@import "./cartEmpty.scss";

.cart {
    background-image: url(../../../images/bg/parchment-2123469_640.webp);
    background-size: 20%;
    background-repeat: repeat;
    padding: 50px 8px;
    &__buttons {
        display: flex;
        font-size: 35px;
        border-radius: 30px;
        padding: 15px 20px;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        &:first-child {
            margin-bottom: 30px;
        }
    }
    &__button {
        font-size: 26px;
        background: transparent;
        flex: 0 1 200px;
        border-radius: 30px;
        padding: 7px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background: rgba(255, 255, 255, 0.6);
        }
        &:active {
            background: #b2e5fb;
        }
        &_green {
            background: #2be328;
            margin-right: 20px;
            &:hover {
                background: #2be328;
            }
            &:active {
                background: #b2e5fb;
            }
        }
        &_red {
            &:hover {
                background: rgba(243, 44, 44, 0.6);
            }
            &:active {
                background: #b2e5fb;
            }
        }
    }
    &__body {
    }
    &__info {
        background: #2be328;
        border-radius: 30px;
        font-size: 22px;
        padding: 8px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__text {
        white-space: nowrap;
        &:first-child {
            text-align: center;
            flex: 0 0 45%;
        }
        &:nth-child(2) {
            text-align: center;
            flex: 0 0 18%;
        }
        &:nth-child(3) {
            text-align: center;
            flex: 0 1 5%;
        }
        &:nth-child(4) {
            text-align: center;
            flex: 0 1 5%;
        }
    }
    &__itembox {
        margin: 50px 5px;
    }
    &__item {
    }
    &__totalprice {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex: 1 1 100%;
    }
    &__empty {
    }
    &__clearsvg {
        margin-right: 10px;
    }
    &__backsvg {
        margin-right: 10px;
    }
}
