@import "./cartItem.scss";
@import "./cartEmpty.scss";

.cart {
    padding: 50px 8px;
    &__buttons {
        display: flex;
        @include adaptiv-font(35, 26);
        border-radius: 30px;
        padding: 15px 20px;
        justify-content: space-between;
        align-items: center;

        &:first-child {
            margin-bottom: 30px;
            @media (max-width: 500px) {
                flex-direction: column;
                text-align: center;
            }
        }
        &:last-child {
            @media (max-width: 922px) {
                flex-direction: column;
                text-align: center;
            }
        }
    }
    &__button {
        font-size: 26px;
        background: transparent;
        max-width: 200px;
        width: 100%;
        border-radius: 30px;
        padding: 7px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        color: black;
        &_red {
            @media (max-width: 500px) {
                margin-top: 15px;
            }
        }
        &_green {
            background: transparent;
            margin-right: 20px;
            max-width: 220px;
            @media (max-width: 460px) {
                flex-direction: column;
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
    &__body {
    }
    // &__info {
    //     background: #2be328;
    //     border-radius: 30px;
    //     font-size: 22px;
    //     padding: 8px;
    //     display: flex;
    //     justify-content: space-between;
    //     margin-bottom: 20px;
    // }
    &__text {
        white-space: nowrap;
        &:first-child {
            text-align: center;
            flex: 0 0 45%;
        }
        &:nth-child(2) {
            text-align: center;
            flex: 0 0 18%;
        }
        &:nth-child(3) {
            text-align: center;
            flex: 0 1 5%;
        }
        &:nth-child(4) {
            text-align: center;
            flex: 0 1 5%;
        }
    }
    &__box {
        display: flex;
        @media (max-width: 922px) {
            margin-bottom: 15px;
        }
        @media (max-width: 460px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__itembox {
        margin: 50px 5px;
    }
    &__item {
    }
    &__totalprice {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex: 1 1 100%;
    }
    &__empty {
    }
    &__clearsvg {
        margin-right: 10px;
    }
    &__backsvg {
        margin-right: 5px;
    }
}
