.search {
    white-space: nowrap;
    border-radius: 50px;
    @include adaptiv-font(20, 18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    margin-bottom: 40px;
    @media (max-width: 1025px) {
        flex-wrap: wrap;
    }
    @media (max-width: 475px) {
        border-radius: 20px;
    }
    &__count {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
        @media (max-width: 475px) {
            flex: 0 1 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }

    &__form {
        flex: 0 1 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e5e5e5;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 50px;
        margin: 0 5px;
        @media (max-width: 1025px) {
            flex: 0 1 100%;
            order: -1;
            margin-bottom: 20px;
        }
        &:hover {
            background: white;
            .search__input {
                background: white;
            }
        }
    }

    &__input {
        width: 100%;
        @include adaptiv-font(20, 16);
        margin-left: 20px;
        background: #e5e5e5;
    }

    &__btn {
        flex: 0 0 50px;
        height: 36px;
        background: #fdb750;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px 2px;
    }

    &__svg {
        width: 30px;
        height: 30px;
    }

    &__sort {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        @media (max-width: 475px) {
            flex: 0 1 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    &__type {
        text-decoration: underline dotted white 2px;
    }
}
