.header {
    color: #ffffff;
    &__background {
        background-image: url(../../../images/bg/header-bg.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0 8px;
    }
    &__notmain {
        background: black;
        color: white;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #ffffff;
    }

    &__burger {
        display: none;
        @media (max-width: 922px) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
        }
        &::before {
            content: "";
            top: 0;
            background-color: white;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        &::after {
            content: "";
            bottom: 0;
            background-color: white;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        & span {
            position: absolute;
            background-color: white;
            left: 0;
            width: 100%;
            height: 3px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        &.active::before {
            transform: rotate(45deg);
            background-color: #2b69dd;
            top: 9px;
        }
        &.active:after {
            transform: rotate(-45deg);
            background-color: #2b69dd;
            bottom: 9px;
        }
        &.active span {
            transform: scale(0);
        }
        &.fixed {
            visibility: visible;
            position: fixed;
            top: 40px;
            left: 10px;
            z-index: 1003;
        }
    }

    &__menu {
        flex: 0 0 30%;
        @media (max-width: 922px) {
            position: fixed;
            background-color: #e5e5e5;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            padding-top: 80px;
            transition: all 0.3s;
            overflow: auto;
            z-index: 1000;
            margin: 0;
        }
        &.active {
            top: 0;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        @include adaptiv-font(20, 16);
        @include adaptiv-lheight(23, 20);
    }

    &__phone {
        color: #ffffff;
        margin-bottom: 10px;
    }

    &__email {
        color: #ffffff;
    }

    &__cart {
        display: flex;
        align-items: center;
        border: 1px solid #ffffff;
        border-radius: 30px;
        justify-content: space-between;
        cursor: pointer;
        transition: box-shadow 0.5s;
        &:hover {
            box-shadow: 0 0 15px rgb(255, 255, 255);
        }
    }

    &__content {
        padding-bottom: 20px;
        margin-top: 50px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        &:first-child {
            margin-bottom: 70px;
        }
        &:nth-child(2) {
            align-items: center;
            margin-bottom: 40px;
            @media (max-width: 540px) {
                flex-direction: column;
                margin-bottom: 0;
            }
        }
    }

    &__text {
        @include adaptiv-font(60, 30);
        @include adaptiv-lheight(60, 30);
        font-family: Lobster;
        @include adaptiv-flex-width(0, 0, 250, 150);
        &_left {
        }

        &_right {
            text-align: right;
        }
    }

    &__social {
        border-top: 1px solid rgb(255, 255, 255);
        max-width: 250px;
        width: 100%;
    }

    &__button {
        max-width: 250px;
        width: 100%;
        @media (max-width: 540px) {
            order: -1;
            margin-bottom: 30px;
        }
    }
}
.logo {
    font-family: Lobster;
    &__svg {
        width: 65px;
        height: 65px;
    }
    &__box {
        text-align: center;
    }

    &__title {
        @include adaptiv-font(24, 18);
        line-height: 30px;
    }

    &__subtitle {
        @include adaptiv-font(18, 16);
        line-height: 22px;
    }
}
.list {
    &__item {
    }

    &__link {
        color: #ffffff;
        font-weight: bold;
        font-size: 23px;
        line-height: 27px;
    }
}
.cart-header {
    &.fixed {
        position: fixed;
        top: 20px;
        right: 10px;
        background: #000;
        z-index: 100;
    }
    &__svg {
        fill: #b2e5fb;
        width: 57px;
        height: 57px;
        padding: 10px;
    }

    &__delimetr {
        width: 1px;
        background-color: #fff;
        height: 57px;
    }

    &__box {
        padding: 10px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        color: white;
        white-space: nowrap;
    }

    &__count {
        margin-bottom: 5px;
    }

    &__price {
    }
}
.social {
    &__list {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
    }

    &__link {
    }

    &__svg {
        width: 50px;
        height: 50px;
        &:hover {
            animation-name: header-social;
            animation-duration: 0.1s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }
        &_vk {
            fill: #2787f5;
        }

        &_insta {
        }

        &_facebook {
        }
    }
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to right, #2be328, #b9c543, #fdb750);
    padding: 8px 0;
    border-radius: 33px;
    font-family: Lobster;
    font-size: 30px;
    background-size: 170%;
    transition: background 1s linear;
    &:hover {
        background-position: right;
    }
}
