.header {
    color: #ffffff;
    &__background {
        background-image: url(../../../images/bg/header-bg.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0 8px;
    }
    &__notmain {
        background: black;
        color: white;
        padding: 0 8px;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        @media (max-width: 922px) {
            padding: 20px 0;
        }
        @media (max-width: 425px) {
            flex-wrap: wrap;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #ffffff;
    }

    &__burger {
        display: none;
        cursor: pointer;
        @media (max-width: 1024px) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 1003;
        }
        &::before {
            content: "";
            top: 0;
            background-color: #b2e5fb;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        &::after {
            content: "";
            bottom: 0;
            background-color: #b2e5fb;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        & span {
            position: absolute;
            background-color: #b2e5fb;
            left: 0;
            width: 100%;
            height: 3px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        &.active::before {
            transform: rotate(45deg);
            background-color: #b2e5fb;
            top: 9px;
        }
        &.active:after {
            transform: rotate(-45deg);
            background-color: #b2e5fb;
            bottom: 9px;
        }
        &.active span {
            transform: scale(0);
        }
        &.fixed {
            position: fixed;
            top: 30px;
            left: 10px;
        }
    }

    &__menu {
        flex: 0 0 38%;
        @media (max-width: 1024px) {
            position: fixed;
            background-color: black;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            padding-top: 80px;
            transition: all 0.3s;
            overflow: auto;
            z-index: 1000;
            margin: 0;
        }
        &.active {
            top: 0;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        white-space: nowrap;
        @media (max-width: 922px) {
            flex-direction: column;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        @include adaptiv-font(20, 16);
        @include adaptiv-lheight(23, 18);
    }

    &__phone {
        color: #ffffff;
        margin-bottom: 10px;
    }

    &__email {
        color: #ffffff;
    }

    &__phone-svg {
        fill: #b2e5fb;
        width: 40px;
        height: 40px;
        margin: 0 5px;
    }

    &__login {
        margin: 0 5px;
        @media (max-width: 425px) {
            flex: 0 0 50%;
            margin: 0;
            margin-top: 10px;
        }
    }

    &__cart {
    }

    &__content {
        padding-bottom: 20px;
        margin-top: 50px;
        @media (max-width: 540px) {
            margin-top: 150px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        &:first-child {
            margin-bottom: 70px;
            @media (max-width: 540px) {
                margin-bottom: 15px;
            }
        }
        &:nth-child(2) {
            align-items: center;
            margin-bottom: 40px;
            @media (max-width: 540px) {
                flex-direction: column;
                margin-bottom: 0;
            }
        }
    }

    &__text {
        @include adaptiv-font(60, 30);
        @include adaptiv-lheight(60, 30);
        font-family: Lobster;
        @include adaptiv-flex-width(0, 0, 250, 150);
        @media (max-width: 540px) {
            flex: 0 0 100%;
        }
        &_left {
            @media (max-width: 540px) {
                display: none;
            }
        }

        &_right {
            text-align: right;
            @media (max-width: 540px) {
                text-align: center;
            }
        }
    }

    &__social {
        border-top: 1px solid rgb(255, 255, 255);
        max-width: 250px;
        width: 100%;
        margin: 2.5px;
    }

    &__button {
        max-width: 250px;
        width: 100%;
        margin: 2.5px;
        @media (max-width: 540px) {
            order: -1;
            margin-bottom: 30px;
        }
    }

    &__admin {
        border-radius: 50px;
        padding: 11px 15px;
        @include adaptiv-font(20, 16);
        display: block;
        text-align: center;
        border: 1px solid #ffffff;
        cursor: pointer;
        transition: box-shadow 0.5s;
        &:hover {
            box-shadow: 0 0 15px rgb(255, 255, 255);
        }
    }
}

.login {
    &__btn {
        display: flex;
        align-items: center;
        border-radius: 50px;
        border: 1px solid #ffffff;
        padding: 6.3px 11px;
        background: transparent;
        color: #ffffff;
        transition: box-shadow 0.5s;
        &:hover {
            box-shadow: 0 0 15px rgb(255, 255, 255);
        }
    }
    &__svg {
        width: 45px;
        height: 45px;
        fill: #b2e5fb;
    }
    &__text {
        margin: 0 5px;
        @include adaptiv-font(19, 14);
        @media (max-width: 450px) {
            margin: 0;
            display: none;
        }
        @media (max-width: 425px) {
            display: block;
            margin-left: 5px;
        }
    }
    &__box {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

.logo {
    font-family: Lobster;
    &__svg {
        @include adaptiv-flex-width(0, 0, 65, 50);
        height: 65px;
    }
    &__box {
        text-align: center;
    }

    &__title {
        @include adaptiv-font(24, 16);
        @include adaptiv-lheight(30, 16);
    }

    &__subtitle {
        @include adaptiv-font(18, 14);
        @include adaptiv-lheight(22, 16);
    }
}
.list {
    &__item {
        @media (max-width: 922px) {
            margin-bottom: 40px;
        }
    }

    &__link {
        color: #ffffff;
        font-weight: bold;
        font-size: 23px;
        line-height: 27px;
        @media (max-width: 922px) {
            font-size: 40px;
        }
    }
}
.cart-header {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 30px;
    justify-content: space-between;
    cursor: pointer;
    transition: box-shadow 0.5s;
    &:hover {
        box-shadow: 0 0 15px rgb(255, 255, 255);
    }
    &.fixed {
        position: fixed;
        top: 20px;
        right: 10px;
        background: #000;
        z-index: 100;
    }
    &__svg {
        fill: #b2e5fb;
        width: 58px;
        height: 57.5px;
        padding: 10px;
    }

    &__delimetr {
        width: 1px;
        background-color: #fff;
        height: 57px;
        @media (max-width: 500px) {
            display: none;
        }
    }

    &__box {
        padding: 10px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        color: white;
        white-space: nowrap;
        @media (max-width: 500px) {
            display: none;
        }
    }

    &__count {
        margin-bottom: 5px;
    }

    &__price {
    }
    &__adaptive-count {
        transform: scale(0);
        @media (max-width: 500px) {
            transform: scale(1);
            background: red;
            font-size: 14px;
            position: absolute;
            border-radius: 50%;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.social {
    &__list {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
    }

    &__link {
    }

    &__svg {
        width: 50px;
        height: 50px;
        &:hover {
            animation-name: header-social;
            animation-duration: 0.1s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }
        &_vk {
            fill: #2787f5;
        }

        &_insta {
        }

        &_facebook {
            fill: #566bb8;
        }
    }
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to right, #2be328, #b9c543, #fdb750);
    padding: 8px 0;
    border-radius: 33px;
    font-family: Lobster;
    @include adaptiv-font(30, 22);
    background-size: 170%;
    transition: background 1s linear;
    @media (max-width: 540px) {
    }
    &:hover {
        background-position: right;
    }
}
