.thanks {
    margin: 0 15px;
    &__text {
        font-family: Lobster;
        font-size: 36px;
        @media (max-width: 922px) {
            margin-top: -15px;
            text-align: center;
        }
    }
}
