@import "libs/mixins/mixins.scss";

@import "components/header/header.scss";
@import "components/shop/shop.scss";
@import "components/footer/footer.scss";
@import "components/cart/cart.scss";
@import "components/modal/modal.scss";
@import "components/cardpage/cardpage.scss";
@import "components/scroll/scroll.scss";
@import "components/admin/admin.scss";

@import "fonts/fonts.scss";
@import "libs/nullstyle/nullstyle.scss";
@import "libs/links-effect/link.scss";
@import "libs/buttons-effect/button.scss";
@import "libs/animation/animation.scss";
@import "libs/variables/variables.scss";
@import "libs/shadow/box-shadow.scss";
@import "libs/background/background.scss";

body {
    font-family: Roboto;
    &.lock {
        overflow: hidden;
    }
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.disabled {
    &:hover {
        background: transparent;
    }
    &:active {
        background: transparent;
        transform: translate(0px, 0px);
    }
}

.wrapper {
}
