@import "./price.scss";

.card {
    border: 1px solid #000000;
    background: rgba(255, 255, 255, 0.6);
    transition: all 0.3s;
    margin: 0 5px 20px;
    flex: 0 0 312px;
    border-radius: 15px;
    @media (max-width: 922px) {
        flex: 0 0 250px;
    }
    @media (max-width: 790px) {
        flex: 0 1 90%;
    }
    @media (max-width: 540px) {
        flex: 0 0 47%;
    }
    @media (max-width: 500px) {
        flex: 0 0 100%;
        margin: 0 0 20px 0;
    }

    &__imagebox {
        border-radius: 15px 15px 0 0;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        min-height: 250px;
        @media (max-width: 922px) {
            min-height: auto;
        }
        &:hover {
            .overlay {
                background: rgba(0, 0, 0, 0.6);
                @media (max-width: 922px) {
                    background: transparent;
                }
                &__button {
                    visibility: visible;
                }
            }
        }
    }
    &__overlay {
    }

    &__image {
        max-width: 320px;
        width: 100%;
        @media (max-width: 790px) {
            max-width: 100%;
        }
    }

    &__infobox {
        margin: 15px;
    }

    &__textbox {
        display: flex;
        align-items: center;
        flex-direction: column;
        white-space: nowrap;
        margin-bottom: 15px;
        @include adaptiv-lheight(30, 20);
    }

    &__title {
        @include adaptiv-font(30, 22);
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__subtitle {
        @include adaptiv-font(20, 18);
    }

    &__row {
        display: flex;
        justify-content: space-between;
        @include adaptiv-font(20, 18);
        white-space: nowrap;
        &:not(:last-child) {
            margin-bottom: 15px;
            border-bottom: 1px solid #000;
        }
    }

    &__size {
    }

    &__size-count {
    }

    &__material {
    }

    &__material-value {
    }

    &__price {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin-right: 10px;
    }

    &__button {
        @media (max-width: 922px) {
            flex: 0 0 100px;
        }
        flex: 0 1 150px;
        border-radius: 10px;
        padding: 8px 0;
        @include adaptiv-font(16, 15);
        box-shadow: 0.7px 1px 2px #000;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    &__button {
        visibility: hidden;
        background: transparent;
        padding: 10px 20px;
        border-radius: 30px;
        border: 1px solid white;
        font-size: 22px;
        color: white;
        box-shadow: 0 0 15px white;
        @media (max-width: 922px) {
            visibility: visible;
            border: 1px solid black;
            color: black;
            box-shadow: 0 0 15px black;
        }
    }
}
