.footer {
    background: #000000;
    padding: 50px 0;
    color: white;

    &__nav {
        padding: 0 8px;
    }

    &__row {
        display: flex;
        @media (max-width: 1025px) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @media (max-width: 510px) {
            text-align: center;
            justify-content: center;
        }
    }

    &__column {
        &:first-child {
            flex: 0 1 250px;
            @media (max-width: 510px) {
                flex: 0 1 100%;
                margin-bottom: 20px;
            }
        }
        &_moved {
            display: flex;
            flex-grow: 1;
            justify-content: space-evenly;
            @media (max-width: 1025px) {
                flex: 0 0 100%;
                justify-content: space-between;
                order: -1;
                margin-bottom: 40px;
            }
            @media (max-width: 540px) {
                justify-content: center;
            }
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 73px;
        @media (max-width: 510px) {
            justify-content: center;
            margin-bottom: 20px;
        }
    }

    &__copyright {
        font-size: 18px;
        line-height: 21px;
    }

    &__list {
        &_moved {
            @media (max-width: 540px) {
                display: none;
            }
        }
    }

    &__item {
        font-size: 18px;
        line-height: 21px;
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        &:first-child {
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            @media (max-width: 540px) {
                font-size: 30px;
            }
        }
        &_moved {
            text-align: center;
            @media (max-width: 540px) {
                font-size: 30px;
                font-weight: bold;
            }
        }
    }

    &__link {
        color: white;
    }

    &__contacts {
    }

    &__social {
    }
}
.footer-social {
    border-top: 1px solid white;
    &__box {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    &__link {
    }

    &__svg {
        fill: white;
        &_vk {
            @media (max-width: 922px) {
                fill: #2787f5;
            }
            &:hover {
                fill: #2787f5;
            }
        }

        &_fb {
            @media (max-width: 922px) {
                fill: #475993;
            }
            &:hover {
                fill: #475993;
            }
        }

        &_insta {
            @media (max-width: 922px) {
                fill: #e1306c;
            }
            &:hover {
                fill: #e1306c;
            }
        }
    }
}
